body, html{
  margin:0;
  padding: 0;
}
video {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
}
.content {
    margin: auto;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 50%;
    height: auto;
    padding: 10px;
    z-index: 1;
}
.countdownContainer {
  top:50%;
  left:50%;
}
